<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script src="js/jquery.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/popup.js"></script>
    <link rel="stylesheet" href="css/popup.css">
    <title>Document</title>
</head>
<body>
    <div id="chat"><img src="imagei/chatbox-nv.png"></div>
    <div class="pop-up-box"style="height:420px">
        <div class="pop-up-head" style="height:40px; ">
            <div class="pop-up-left" style="margin-top: 10px;">Chat với chúng tôi (Hotline: 1900 636 799)</div>
          
        </div>
        <div class="pop-up-mess" style="height:350px">
            <ul class="ChatLog">
                    <li class="ChatLog__entry">
                        <!-- <div class="ChatLog__avatar">A</div> -->
                            <p class="ChatLog__message">Chào mừng bạn đến với MOKI.VN</p>
                    </li>

                </ul>
        </div>
        <div class="pop-up-footer">
            <input name="message" id="mess" placeholder="Nhập tin nhắn...">
            <button id="btnSend">SEND</button>
        </div>
    </div>
</body>
</html>