<!-- <% var i=0  %>
<% var j=0  %> -->
<% include template/body1 %>
<div id = "container">
    <!-- header starts here-->
<% include template/header %>
<div id ="container_inner">
    <!-- nav starts here-->
<div id="container_inner_nav">
<div id="container_inner_nav-inner">
<% include template/nav %>
</div>
</div>
    <!-- content starts here -->
<div id = "container_inner_content">
<div id ="container_inner_content-inner">


    <div class="title-sp">
       Danh sách theo dõi
      </div>
      <div class="cuon-1" id =" frame-1">
        <table class="table-listproduct">
                <tr class="table-listproduct">
                    <% if(kq.length==0){%>
                     <h2>Bạn chưa theo dõi ai </h2>
                  <% } else {  %>
                    <div>Số người bạn theo dõi: <%-kq.length%></div>
                    <%kq.forEach((data)=>{%>
                    <li><a href="/listproduct <%-data%>"><%-data%></a></li>
                  <% })} %>
                </tr>
        </table>
      </div>


</div>
</div>
</div>
    <!-- footer starts here-->
<div id = "container_inner_footer">
<% include template/footer %>
</div>
</div>
<% include template/body2 %>

