
<% include template/body1 %>
<div id = "container">
    <!-- header starts here-->
<% include template/header %>
<div id ="container_inner">
    <!-- nav starts here-->
<div id="container_inner_nav">
<div id="container_inner_nav-inner">
<% include template/nav %>
</div>
</div>
    <!-- content starts here -->
<div id = "container_inner_content">
<div id ="container_inner_content-inner">


    <div class="title-sp">
       Thông tin tài khoản của bạn
      </div><hr>
      <div  id =" thongtin">
                    <% if(kq.length==0){%>
                     <h2>Không tìm thấy sản phẩm </h2>
                      
                  <% } else {  kq.forEach((data)=>{%>
                      <span class ="ten" id = "ten-1"><b>Họ và tên:</b> <i class="maininfo"><%= data.name%></i></span><hr>
                        <span class ="ten" id = "ten-1"><b>Tài khoản: </b><i class="maininfo"><%= data.username%></i></span><hr>
                        <span class ="gia" id = "gia-1" style="color:#000;"><b>Email:</b> <i class="maininfo"><%= data.email%></i></span><hr>   
                        <span class ="sdt" id = "sdt-1" style="color:#000;"><b>Số điện thoại:</b> <i class="maininfo1"><%= data.PhoneNumber%></i></span><hr> 
                       
                        <button id="modifier-user"><a href="/user/modifier">Chỉnh sửa thông tin</a> </button>
                  <% })} %>
      </div>


</div>
</div>
</div>
    <!-- footer starts here-->
<div id = "container_inner_footer">
<% include template/footer %>
</div>
</div>
<% include template/body2 %>

