/*=====BODY======*/
body{
	padding:2em;
	padding-top:0.2em;
	background-color:#ffffff;
	height: 800px;
	}
	
	
	/*=====CONTAINER======*/
	#contanier{
	text-align:left;
	max-width:986px;
	min-width:730px;
	margin-left:auto;
	margin-right:auto;
	/* margin:0px auto; */
	
	}
	
	
	/*=====================INNER=================*/
	#header-inner,nav-inner,content-inner,footer-inner{
		overflow:hidden;
	}
	
	
	
	/*=====HEADER======*/
	/* #header{
	background-color:#f1f1f1;
	height:200px;
	margin-bottom:5em;
	
	}
	#header-inner1{
	padding:1em 2em;
	overflow: hidden;
	height:35%;
	background-color:gray;
	border-radius:5px;
	}
	#header-inner1-title{
		font-size:1.5em;
		position:relative;
		top:-10px;
		left:-50px;
		float: left;
		width:50%;
		
	}
	#header-inner1-image{
	float:left;
	width:25%;
	}
	#header-inner1-image-inner{
		width:100%;
	}
	
	.header-inner-link ul,.header-inner2-link ul{
	list-style:none;
	}
	.header-inner-link ul li,.header-inner2-link ul li{
	display:inline;
	}
	.header-inner-link ul li a,.header-inner2-link ul li a{
		text-decoration:none;
		color:#000;
		padding:1em;
	}
	.header-inner-link ul li a:hover,.header-inner2-link ul li a:hover{
		opacity:0.5;
	}
	
	.fa{
		
		padding: 0 0.5em;
		font-size:1.5em;
	}
	#header1-inner-link2 a{
		color:#000;
	}
	#header-inner2{
		height:65%;
		background-color:#d3d3d3;
		border-radius:5px;
		}
	
	.header-inner2-form{
	margin-left:500px;
	padding-top:0.2em;
	}
	.header-inner2-form-input{
	width:400px;
	height:40px;
	border:1px solid gray;
	border-radius:5px;
	}
	.header-inner2-form-button{
	border:1px solid gray;
	border-radius:5px;
	position:relative;
	bottom:-0.2em;
	}
	.header-inner2-link{
		display: flex;
		justify-content:flex-end;
		padding-top:0.4em;
	}
	#info{
		display: none;
	width: 15%;
	height: 50px;
	margin-top: 1%; 
	margin-left: 85%;
	line-height: 20px;
	background-color: rgb(238, 150, 212);
	}
	#user :hover{
		cursor: pointer;
	} */

	/*=====NAVIGATION======*/
	
	#nav{
		padding-left: 10%;
		padding-right:10px;
	}
	#nav_title{
			text-align:center;
			margin:0em 0em;
			width:70%;
			font-size:1.3em;
			background-color: #f16e8e;
			padding: 0.5em;
			margin-left:0;
			color: #fff;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		}
		#main-1{
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		}
		.wrapper {
			width: 980px;
			margin: 0 auto;
		}
		.wrapper-nav{
			background: #fff;
		}
			
		.wrapper-nav.fixed {
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 7000;
			box-shadow: 0 0 5px 2px #ccc;
		}
		
		.wrapper-nav.fixed .nav-main {
			width: 980px;
			margin: 0 auto;
		}
		.wrapper-nav1{
			background: #f1f1f1;
		}
			
		.wrapper-nav1.fixed1{
			width: 270px;
			position: fixed;
			top: 68px;
			left: 50px;
			z-index: 7000;
			box-shadow: 0 0 5px 2px #ccc;
		}
		.imagebia{
			width:270px;
			height:500px;
			padding-right:0px;
		}
		.wrapper-nav1.fixed1 .nav-main1 {
			width: 270px;
			margin: 0 auto;
		}
		.nav-main {
			height: 36px;
		}
		#nav-inner{
		padding:0 0;
		width:75%;
		background-color: #e3e7ed;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
		margin-top: 0px;
	
		font-size: 14px
		}
		#AlphaNav{
			height: 90%;
		}
		#nav-inner ul li{
			padding:0.01em;
			list-style:none;
			border-bottom:2px solid #dadada;
		}
		#nav-inner ul li a{
			text-decoration:none;
			color:#000;
		}
		
		h5{
			margin:14px 0;
			font-size: 15px;
            font-weight: bold;
            display: inline-block;
		}
		.fa-angle-double-down,.fa-angle-double-up{
			float:right;
		
		}
		/*-------GET LIST PRODUCT --------*/
		
		#AlphaNav li{
			list-style:none;
			padding:0.8em;
			border-bottom:1px solid #dadada;
		}
		#AlphaNav ul li a:hover{
			opacity:0.5;
		}
		.title-text{ 
			text-decoration:none;
			color:black;
			
		}
		.fix-ul li{
			margin-left:-2em;
			padding:1em 0;
		}
		.fix-ul li a{
			
			text-decoration:none;
			color:black;
			
		}
		#AlphaNav ul li ul{
			display:none;
		}
		#AlphaNav ul li ul li{
			padding:0.6em 0;
		}
		
	
	
	/*---------------------CONTENT---------------------------*/
	.content{
	
	background-color:#fff;
	height: 360px;
	width: 718px;
	margin-left: -200px;
	
	}
	#content-inner{
	padding:0 1em 1em 1.5em;
	}
	.col-sm-3{
	float: left;
	color: #333;
	font-size: 14px;
	padding-top: 6px;
	margin-left: 30px;
	}
	
	#input{
	float: right;
	margin-left: 30px;
	margin-right: -50px;
	margin-top: 0px;
	height: 20px;
	width: 303px;
	}
	.radiobutton{
	float: right;
	font-size: 14px;
    margin-left: 0px;
	margin-right:230px;
	margin-top: 0px;
	}
	.radiobutton2{
	width: 300px;
	}
	#inputpassword{
	float: right;
	margin-left: 30px;
	margin-right: 200px;
	margin-top: 20px;
	height: 20px;
	width: 303px;	
	}
	


	
	/*-----------------------------FOOOTER---------------------------------------------*/
	#footer_container{
		clear:both;
	}
	
	
	/*--------------register-validator ----*/
	.register-validator{
		margin:1em;
		text-decoration:none;
		border:1px solid #ff3333;
		border-radius: 4px;
		background-color: #FACE9C;
		list-style:none;
		width:40%;
		height:30px;
		padding:0.5em;
	}
	
	/*------------LOGIN-----------*/
	.forgotPS{
		float: right;
		text-decoration: none;
		margin-right: 230px;
		margin-bottom: 30px;
		font-size:0.9em;
		float: right;
		margin-top:0.3em;
		padding:0.5em;
	}
	#numberPhone{
		width:300px;
		padding:0.5em;
		border:1px solid #dadada;
		border-radius: 4px;
	}
	.sendcode{
		padding:0.5em 1em;
		border:1px solid #dadada;
		border-radius: 4px;
		background-color: #679bef
		
	}
	
	/*------------USER OPTION -------*/


	/* modifier user information */
	.input-info{
		padding:5px;
		border-radius: 5px;
	}
	#sdtdk{
		margin-left: 50px;
	}
	#inputsdt{
		float: right;
		margin-left: 0px;
		margin-right: 185px;
		margin-top: 0px;
		height: 20px;
		width: 303px;	
	}
	#inputmk{
		float: right;
		margin-left: 0px;
		margin-right: 185px;
		margin-top: 0px;
		height: 20px;
		width: 303px;	
	}
	#mkdk{
		margin-left: 80px;
	}
	#text-name{
		float: right;
		width: 321px;
		margin-right: 200px;
		font-size: 15px;
	}
	



	:after, :before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	::-webkit-scrollbar {
		width: 7px;
		background-color: transparent;
	}
	::-webkit-scrollbar {
		width: 7px;
		background-color: transparent;
	}
	::-webkit-scrollbar {
		width: 7px;
		background-color: transparent;
	}
	::-webkit-scrollbar {
		width: 7px;
		background-color: transparent;
	}
	::-webkit-scrollbar-thumb {
		background-color: #f16e8e;
		border: 2px solid #fff;
	}
	::-webkit-scrollbar-thumb {
		background-color: #f16e8e;
		border: 2px solid #fff;
	}
	::-webkit-scrollbar-thumb {
		background-color: #f16e8e;
		border: 2px solid #fff;
	}
	::-webkit-scrollbar-track {
		background-color: #fff;
	}
	::-webkit-scrollbar-track {
		background-color: #fff;
	}
	body {
		background-color:#f1f1f1;
	}
	.checkout_info_price{
		background-color:#fff;
		border: 1px solid #eee;
		padding: 0 20%;
		height: 400px;
		width: 288px;
		margin-left: 20%;
		
	}
	/*.checkout_info_price1{
		background-color: rgb(255, 255, 255);
		padding: 0 20%;
		height: 800px;
		width: 400px;
		margin-left: 15%
	}*/
	.headings{
		background-color: #fff;
		height: 30px;
		width: 735px;
		font-family: Arial, Helvetica, sans-serif;
		border-bottom: 1px solid #eee;
		margin-left: -230px;
		padding: 10px 15px;
			
	}
	.headings h5{
		font-size: 15px;
		margin-top: 7px;
		margin-bottom: 14px;
		font-size: 15px;
        font-weight: bold;
       
	}
	#tb{
		height: 86px;
		width: 329px;
		font-size: 15px;
		font-family: Arial, Helvetica, sans-serif;
		margin-bottom: -15px;
		margin-top: 30px;
		margin-left: 200px;
	}
	.col-sm-3{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}
.dieukhoan-link a {
		color: #f16e8e;

	} 
	#btdk{
	   float: right;
	   height: 40px;
	   width: 329px;
	   margin-top: 0px;
	   margin-right:210px;
	   background-color: #f16e8e;
	   color: white;
	   text-align: center;

	}
	#code_verify{
		height: 30px;
		width: 400px;
		background-color: #f16e8e;
		color: white;
		text-align: center;
	}
	.form-control {
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	#update_register{
		padding: 0 20%;
		height: 500px;
		width: 400px;
		margin-left: 15%
	}
	#info-left th {
		border-collapse: collapse;
        padding: 15px 0 15px 10px;
	}
	#info-left{
padding-right: 10px;
width: 250px
	}
	.info-2{
		
		padding-bottom: 50px;
		text-align: left;
		border-bottom: 1px dashed gray;
	
	}
	.info-1{
		padding-top: 10px;
		padding-bottom: 50px;
		text-align: right;
		border-bottom: 1px solid #f16e8e;
	}
	/* display product on homepage */
	.container-inner-frame{
		margin-top:20px;
		width:100%;
		height:700px;
		
	}
	.container-inner-frame::after{
		clear:both;
	}
	.container-inner-frame-inner{
		width:100%;
		height: 100%;
		
	}
	.image1{
		width:860px;
		height:151px;
	}
	.image1:hover{
		padding: 0 10px;
	}
	.container-inner-image:hover{
		border:1px dashed #f16e8e;
	}
	#bia :hover{
		border:1px dashed #f16e8e;
	}
	.container-inner-list{
		width:100%;
		
	}
	.container-inner-title{
		width:20%;
		float:left;
		
		
		
	}
	.container-inner-frame{
		
	}
.container-inner-frame-inner{
width:100%;
height:100%;
}
.container-inner-image{

}
	.image1{
		width:860px;
		height:171px;
	}
	.image1:hover{
		border:1px dashed #f16e8e;
		padding:0px 5px;
	}
	.container-inner-title1{
		width:100%;
		height:100%;
		padding:5px;
	}
	.container-inner-title1 p{
		font-size:1.2em;
		font-weight:bold;
	}
	.container-inner-title1 li{
		list-style:none;
		margin-bottom:3px;
	}
	.container-inner-title1 li a{
		text-decoration: none;
		color:black;
	}
	.container-inner-title1 li a:hover{
		opacity:0.5;
	}
	.container-inner-listimage{
		width:80%;
		float:right;
		overflow:hidden;
		height:540px;
	}
	.wrapper-image{
		margin:10px 25px;
		text-align: center;
		width: 180px;
		height: 250px;
	}
	.wrapper-image img:hover{
		border:1px dashed #f16e8e;
		padding:0px 4px;
	}
	.container-inner-listimage::after{
		clear:both;
	}
	.container-inner-listimage1{
		width:100%;
		height:500px;
		display: flex;
		flex-direction: row;
		flex-wrap:wrap;
		padding:10px;
		overflow:hidden;
	}

	/* them san pham */
	.wrapper-image1{
		margin-left:200px;
	}
	#image-moki{
		width:100px;
		height:100px;
	}