/*=====BODY======*/
body{
	background-color:#ffffff;
	margin: 0
	}
	
	
	/*=====CONTAINER======*/
	#contanier{
	text-align:left;
	max-width:986px;
	min-width:730px;
	margin-left:auto;
	margin-right:auto;
	/* margin:0px auto; */
	
	}
	
	
	/*=====================INNER=================*/
	#header-inner,nav-inner,content-inner,footer-inner{
	overflow:hidden;
	}
	
	#spnew{
		padding: 0;
		margin: 0;
		zoom: 1;
		font-size: 25px;
		font-family: Oleo Script;
		text-transform: capitalize;
		color: #502625;
		font-weight: 600;
		padding-top: 30px;
		padding-bottom: 10px;
		display: block;
		position: relative;
		border-bottom: 1px dashed #f16e8e
	}

	/*=====NAVIGATION======*/
	
	#nav{
		padding-left: 10%;
		padding-right:10px;
	}
	#nav_title{
			text-align:center;
			margin:0em 0em;
			width:80%;
			font-size:1.3em;
			background-color: #f16e8e;
			padding: 0.5em;
			margin-left:0;
			color: #fff;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		}
		#main-1{
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		}
		.wrapper {
			width: 980px;
			margin: 0 auto;
		}
		.wrapper-nav{
			background: #fff;
		}
			
		.wrapper-nav.fixed {
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 7000;
			box-shadow: 0 0 5px 2px #ccc;
		}
		
		.wrapper-nav.fixed .nav-main {
			width: 980px;
			/* margin: 0 auto; */
			margin-top: 25px;
			margin-left: 293px
		}
		.wrapper-nav1{
			background: #fff;
		}
			
		.wrapper-nav1.fixed1{
			width: 25%;
			position: fixed;
			top: 75px;
			left: 40px;
			z-index: 7000;

		}
		.imagebia{
			width:85%;
			height:500px;
			padding-right:0px;
		}
		.wrapper-nav1.fixed1 .nav-main1 {
			width: 85%;
			margin: 0 0;
		}
		.wrapper-nav1.fixed1 .nav-main1 #bia2 {
			width: 350px;
			margin: 0 0;
		}
		.nav-main {
			height: 36px;
		}
		#nav-inner{
		padding:0 0;
		width:85%;
		background-color: #f8fafc;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
		margin-top: 0px;
	
		font-size: 14px
		}
		#AlphaNav{
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 14px;
			line-height: 40px;
			color: #333;
			background-color: rgb(241, 241, 241);
			background-image: url(https://moki.vn/moki/themes/img/pattern.png);
		}
		#AlphaNav tt{
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

		}
		#nav-inner ul li{
			padding:0.01em;
			list-style:none;
			border-bottom:2px solid #dadada;
		}
		#nav-inner ul li a{
			text-decoration:none;
			color:#000;
		}
		
		h5{
			margin:14px 0;
		}
		.fa-angle-double-down,.fa-angle-double-up{
			float:right;
		
		}
		/*-------GET LIST PRODUCT --------*/
		
		#AlphaNav li{
			list-style:none;
			padding:0em;
			border-bottom:1px solid #dadada;
		}
		#AlphaNav ul{
         margin-top: 0 

		}
		#AlphaNav ul li a:hover{
			opacity:0.5;
		}
		.title-text{ 
			text-decoration:none;
			color:black;
			
		}
		.fix-ul li{
			margin-left:-2em;
			padding:1em 0;
		}
		.fix-ul li a{
			
			text-decoration:none;
			color:black;
			
		}
		#AlphaNav ul li ul{
			display:none;
		}
		#AlphaNav ul li ul li{
			padding:0.6em 0;
		}
		
	
	
	/*---------------------CONTENT---------------------------*/
	#content{
	margin-left:300px;
	background-color:#f1f1f1;
	}
	#content-inner{
	padding:0 1em 1em 1.5em;
	}
	
	
	
	
	/*-----------------------------FOOOTER---------------------------------------------*/
	#footer_container{
		clear:both;
	}
	
	
	/*--------------register-validator ----*/
	.register-validator{
		margin:1em;
		text-decoration:none;
		border:1px solid #ff3333;
		border-radius: 4px;
		background-color: #FACE9C;
		list-style:none;
		width:40%;
		height:30px;
		padding:0.5em;
	}
	
	/*------------LOGIN-----------*/
	.forgotPS{
		text-decoration: none;
		margin-right:1em;
		font-size:0.9em;
		float: right;
		margin-top:0.3em;
		border: 1px solid #d3d3d3;
		padding:0.5em;
	}
	#numberPhone{
		width:300px;
		padding:0.5em;
		border:1px solid #dadada;
		border-radius: 4px;
	}
	.sendcode{
		padding:0.5em 1em;
		border:1px solid #dadada;
		border-radius: 4px;
		background-color: #679bef
		
	}
	
	/*------------USER OPTION -------*/


	/* modifier user information */
	.input-info{
		padding:5px;
		border-radius: 5px;
	}



	:after, :before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	::-webkit-scrollbar {
		width: 7px;
		background-color: transparent;
	}
	::-webkit-scrollbar {
		width: 7px;
		background-color: transparent;
	}
	::-webkit-scrollbar {
		width: 7px;
		background-color: transparent;
	}
	::-webkit-scrollbar {
		width: 7px;
		background-color: transparent;
	}
	::-webkit-scrollbar-thumb {
		background-color: #f16e8e;
		border: 2px solid #fff;
	}
	::-webkit-scrollbar-thumb {
		background-color: #f16e8e;
		border: 2px solid #fff;
	}
	::-webkit-scrollbar-thumb {
		background-color: #f16e8e;
		border: 2px solid #fff;
	}
	::-webkit-scrollbar-track {
		background-color: #fff;
	}
	::-webkit-scrollbar-track {
		background-color: #fff;
	}
	.checkout_info_price{
		background-color: rgb(255, 255, 255);
		padding: 0 20%;
		height: 500px;
		width: 400px;
		margin-left: 15%
	}
	.checkout_info_price1{
		background-color: rgb(255, 255, 255);
		padding: 0 20%;
		height: 800px;
		width: 400px;
		margin-left: 15%
	}
	.headings{
		height: 30px;
		font-size: 20px;
		font-family: Arial, Helvetica, sans-serif;
	padding: 2px 0px;
	margin-top: 10px 
	}
	#tb{
		font-size: 15px;
		font-family: Arial, Helvetica, sans-serif
	}
	.col-sm-3{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}
.dieukhoan-link a {
		color: #f16e8e;

	} 
	#btdk{
	   height: 30px;
	   width: 425px;
	   background-color: #f16e8e;
	   color: white;
	   text-align: center;

	}
	#code_verify{
		height: 30px;
		width: 400px;
		background-color: #f16e8e;
		color: white;
		text-align: center;
	}
	.form-control {
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	#update_register{
		padding: 0 20%;
		height: 500px;
		width: 400px;
		margin-left: 15%
	}
	#info-left th {
		border-collapse: collapse;
        padding: 15px 0 15px 10px;
	}
	#info-left{
padding-right: 10px;
width: 250px
	}
	.info-2{
		padding: 20px 0;
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		border-bottom: 1px dashed gray;
	
	}
	.info-1{
		padding-top: 10px;
		padding-bottom: 50px;
		text-align: right;
		border-bottom: 1px solid #f16e8e;
	}
	/* display product on homepage */
	.container-inner-frame{
		margin-top:30px;
		width:100%;
		height:700px;
		
	}
	.container-inner-frame::after{
		clear:both;
	}
	.image1{
		width:860px;
		height:151px;
	}
	.image1:hover{
		padding: 0 0px;
	}

	#bia :hover{
		border:1px dashed #f16e8e;
	}
	.container-inner-list{
		width:100%;
		
	}
	.container-inner-title{
		width:20%;
		float:left;
		
		
		
	}
	#container-inner-frame1{

	}
.container-inner-frame-inner{
	margin-bottom: 20px	;
width:100%;
height:100%;
}
.container-inner-image{
	margin: 20px	0;
	
}
	.image1{
		width:860px;
		height:171px;
	}
	.image1:hover{
		border:1px dashed #f16e8e;
		padding:0px 5px;
	}
	.container-inner-title1{
		width:125%;
		height:100%;
		padding:5px;
		line-height: 35px
	}
	div.group-left>div.pb-link>div.pb-heading a {
		font-size: 25px;
		font-family: Oleo Script;
		text-transform: capitalize;
		color: #502625;
		font-weight: 600;
		padding-bottom: 20px;
		border-bottom: 1px dashed #ccc;
		display: block;
		text-align: left;
		position: relative;
		text-decoration: none;
	}
	.container-inner-title1 p{
		font-size:1em;
		font-weight:bold;
	}
	.container-inner-title1 li{
		list-style:none;
		color: #999898;
		font-size:  14px;
		font-weight: 300;
		font-family: Arial, Helvetica, sans-serif;
	}
	.container-inner-title1 li a{
		text-decoration: none;
		color:#868686;
	}
	.container-inner-title1 li a:hover{
	
		color: #f16e8e
	}
	.container-inner-listimage{
		width:80%;
		float:right;
		overflow:hidden;
		height:700px;
	}
	.wrapper-image{
		margin:5px 20px;
		text-align: center;
		width: 180px;
		height: 300px;
		border-bottom: 1px dashed #f16e8e;
		margin-top: 10px
	}
	.wrapper-image img:hover{
		border:1px dashed #f16e8e;
		padding:0px 4px;
	}
	.container-inner-listimage::after{
		clear:both;
	}
	.container-inner-listimage1{
		width:100%;
		height:620px;
		display: flex;
		flex-direction: row;
		flex-wrap:wrap;
		padding:10px;
		overflow:hidden;
		margin-left: 50px
	}
	.container-inner-listimage-user{
		width:100%;
		display: flex;
		flex-direction: row;
		flex-wrap:wrap;
		padding:10px;
		overflow:hidden;
		margin-left: 50px
	}
	/* them san pham */
	.wrapper-image1{
		margin-left:200px;
	}
	#image-moki{
		width:100px;
		height:100px;
	}
	div.stars {
		margin-left: -20px;
		width: 130px;
		display: inline-block;
	  }
	   
	  input.star { display: none; }
	   
	  label.star {
		float: right;
		padding: 5px;
		font-size: 15px;
		color: #444;
		transition: all .2s;
	  }
	   
	  input.star:checked ~ label.star:before {
		content: '\f005';
		color: #f16e8e;
		transition: all .25s;
	  }
	   
	  input.star-5:checked ~ label.star:before {
		color: #f16e8e;
	  }
	   
	  input.star-1:checked ~ label.star:before { color: #f16e8e; }
	   
	  label.star:hover { transform: rotate(-15deg) scale(1.3); }
	   
	  label.star:before {
		content: '\f006';
		font-family: FontAwesome;
	  } 
	#first img{
		width: 420px;
	}
	.img1:hover{
		border: 1px dashed #f16e8e;
		width: 400px;
	}
	#first-table tr th{
		padding-left: 0px;
		padding-right: 30px
	}
	.section-header {
		margin-top: 30px;
		border-bottom: 1px dashed #ccc;
		margin-bottom: 25px;
		text-align: center;
	}
	h2 {
		padding: 0;
		margin: 0;
		zoom: 1;
		font-size: 25px;
		font-family: Oleo Script;
		text-transform: capitalize;
		color: #502625;
		font-weight: 600;
		padding-bottom: 10px;
		display: block;
		position: relative;
	}
	#list_uudai{
		height: 400px;
		overflow-x: hidden;
	}
	#Previous{
		text-transform: uppercase;
		position: absolute;
		left: 400px;
		top: 700px;
		font-size: 30px;
		font-weight: 700;
		color: #502625;
	}
	#Next{
		text-transform: uppercase;
		position: absolute;
		left: 1300px;
		top: 700px;
		font-size: 30px;
		font-weight: 700;
		color: #502625;
	}
#info-user tr th,td{
border-bottom: 1px solid rgb(224, 222, 222);
line-height: 30px;
width: 200px;
font-family: Arial, Helvetica, sans-serif;
	}
	#thongtin {
		margin-left: 500px;
	}
	#theo-doi {
		margin-left: 400px;
	}
	#duoc-theo-doi {
		margin-left: 400px;
	}
	img.user-avatar{
		border-radius: 15px;
	}
	#avatar-update{
		height: 80px;
		width:  80px;
		opacity: 0.3;
	}
	#avatar-update-1{
		height: 80px;
		width:  80px;
		border: 1px solid black;
		background-image: url(../imagei/photo.png);
		background-repeat: no-repeat;
		position: relative;
		background-position-x: 15px;
		background-position-y: 18px;
	}
